# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Declare files that will always have CRLF line endings on checkout.
gradlew.bat text eol=crlf
gradlew text eol=cr
*.sh text=cr
gng text=cr
install.sh text=cr

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jar binary
